:root {
    --default-text-color: rgb(100, 100, 100);
    --highlight-text-color: rgb(70, 70, 70);
    --default-dividing-line: 1.5px solid rgb(200, 200, 200);
    --highlight-color: #1E90FF;
    --default-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    margin: 20px;
    margin-top: 40px;
    background-color: #FAFAFA;
    min-height: 100dvh;
    color: var(--default-text-color);
    font-size: 0.9rem;
}

p span,
li span {
    color: var(--highlight-text-color);
    font-weight: 600;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: var(--default-dividing-line);
    gap: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

header .linha-portifolio {
    width: 100%;
}

header .linha-portifolio p {
    height: 25px;
    font-weight: 600;
    color: var(--highlight-text-color);
}

header .barra-topo {
    background-color: var(--highlight-color);
    height: 4px;
    width: 100%;
}

header img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--highlight-text-color);
}

header p:nth-child(4) {
    padding: 0 20px;
    line-height: 20px;
    text-align: justify;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
    border-bottom: var(--default-dividing-line);
}

.habilidades .area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.habilidades .area .icon {
    height: 50px;
    width: 50px;
    box-shadow: var(--default-shadow);
    padding: 10px;
    margin: 15px;
    margin-top: 35px;
    border-radius: 6px;
    transform: rotate(-45deg);
}

.habilidades .area .icon svg {
    transform: rotate(45deg);
    color: var(--highlight-color);
}

.linha-titulo-secao {
    width: min-content;
}

.linha-titulo-secao .linha {
    background-color: var(--highlight-color);
    height: 2px;
    width: 120%;
    margin-top: 5px;
}

h2 {
    padding-left: 5px;
    font-size: 1.25rem;
    color: var(--highlight-text-color);
}

h3 {
    font-size: 1rem;
    color: var(--highlight-text-color);
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    text-align: center;
    list-style: inside;
    line-height: 20px;
}